@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.header {
    grid-area: head;
padding: 0.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
    /* background-color: lightcyan; */
/* background-color: rgb(226, 194, 200); */
    margin: 0rem;
    justify-content: space-between;
}
.left{
    display: flex;
}
.right{
    align-self: center;
}
.link{
    margin:0.8rem;
    padding: 0.2rem 1rem;
    text-decoration: none;
    /* background-color: lightcyan; */
}
.logo{
    height: 2.6rem;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
    border-right: 1px solid red;
    /* max-width: 20rem; */
}
.doc{
    display: grid;
    grid-template-areas:  
    "head head head head head "
    "sidebar main  main main main"
    "sidebar main  main main main"
}
.tagline{
    padding-left: 1rem;
}
.bolden{
    padding: 0 0.2rem;
    font-weight: bold;
}


.listItem{
    padding: 1.2rem 1rem;
    text-decoration: none;    
}